    [Unit]
    Description=Telegram Bot Service
    After=network.target

    [Service]
    ExecStart=/usr/bin/python3 /path/to/your/bot.py
    WorkingDirectory=/path/to/your/
    StandardOutput=inherit
    StandardError=inherit
    Restart=always
    User=your_username

    [Install]
    WantedBy=multi-user.target
